.app .icon_lock_app {
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    cursor: pointer;
    position: absolute;
    z-index: 10000;
    background: transparent url(/js_apps/core.apps.layout_columns/images/lock.png) no-repeat;
}

/* app mouse hover */

.app .admin_overlay {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.app .admin_overlay .overlay_hover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #F00;
    background: transparent url(/js_apps/core.apps.layout_columns/images/overlay_bg.png) repeat;
}

.app .admin_overlay .overlay_drag {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(/static/blank.gif) repeat;
    cursor: default;
    display: none;
}

/* app focused - bounds */

.app .admin_bound,
.app .admin_bound span {
    position: absolute;
    z-index: 100;
    /*    background: #00F; */
    overflow: visible;
}

.app .admin_bound_t,
.app .admin_bound_b {
    background: #00F url(/js_apps/core.apps.layout_columns/images/selection1_h.gif) repeat-x;
}

.app .admin_bound_l,
.app .admin_bound_r {
    background: #00F url(/js_apps/core.apps.layout_columns/images/selection1_v.gif) repeat-y;
}

.app .admin_bound {
    display: none;
}

.app .admin_bound span {
    width: 7px;
    height: 7px;
    background: #00F;
}

.app .admin_bound_t {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
}

.app .admin_bound_t span {
    left: 0;
    top: 0;
    cursor: nw-resize;
}

.app .admin_bound_r {
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
}

.app .admin_bound_r span {
    right: 0;
    top: 0;
    cursor: ne-resize;
}

.app .admin_bound_b {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

.app .admin_bound_b span {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.app .admin_bound_l {
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
}

.app .admin_bound_l span {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

/* app content margin */
.app .app_css_box {
    position: relative;
}

.app .admin_margin,
.app .admin_margin span {
    position: absolute;
    z-index: 110;
    overflow: visible;
    position: absolute;
}

.app .admin_margin {
    display: none;
}

.app .admin_margin_t,
.app .admin_margin_b {
    background: #F00 url(/js_apps/core.apps.layout_columns/images/selection2_h.gif) repeat-x;
}

.app .admin_margin_l,
.app .admin_margin_r {
    background: #F00 url(/js_apps/core.apps.layout_columns/images/selection2_v.gif) repeat-y;
}

.app .admin_margin span {
    background: #F00;
    width: 6px;
    height: 6px;
}

.app .admin_margin_t {
    left: 1px;
    top: 1px;
    right: 1px;
    height: 1px;
}

.app .admin_margin_t span {
    left: 50%;
    top: 0;
    cursor: n-resize;
}

.app .admin_margin_r {
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 1px;
}

.app .admin_margin_r span {
    right: 0;
    top: 47%;
    cursor: e-resize;
}

.app .admin_margin_b {
    left: 1px;
    bottom: 1px;
    right: 1px;
    height: 1px;
}

.app .admin_margin_b span {
    left: 50%;
    bottom: 0;
    cursor: s-resize;
}

.app .admin_margin_l {
    left: 1px;
    top: 1px;
    bottom: 1px;
    width: 1px;
}

.app .admin_margin_l span {
    left: 0;
    top: 47%;
    cursor: w-resize;
}

.app_gripper_hint {
    position: absolute;
    z-index: 100;
    width: 1px;
    height: 1px;
    overflow: visible;
}

.app_gripper_hint div {
    border: 1px solid #bfcfe9;
    background: #f3f8fe;
    color: #000;
    font: normal 11px Arial;
    padding: 2px 4px;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    margin: -8px 0 0 -24px;
}

.app_outer_overlay {
    position: absolute;
    z-index: 5000;
    background: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    opacity: 0.3;
}

.app_outer_l {
    left: 0;
    top: 0;
    bottom: 0;
}

.app_outer_r {
    right: 0;
    top: 0;
    height: 100%;
}

.app_outer_t {
    top: 0;
}

.app_outer_b {
    bottom: 0;
}

.app_drag_control {
    z-index: 6000;
    position: absolute;
    width: 1px;
    height: 26px;
    overflow: visible;
}

.app_drag_control div {
    margin-left: -36px;
    width: 73px;
    height: 26px;
    background: transparent url(/js_apps/core.apps.layout_columns/images/drag.png) no-repeat;
    cursor: move;
}