.app {
    position: relative;
}

.app .app_tl,
.app .app_ml,
.app .app_bl {
    position: relative;
    z-index: 100;
}

/* app caption edit */

.app_caption input[type="text"] {
    width: 99%;
    display: block;
    border: 1px solid #999;
    color: #000;
    background: #FFF;
}