.admin_slider .scroller {
    margin-top: 6px;
    height: 76px;
    overflow: hidden;
    position: relative;
}

.admin_slider .scroller .btn_scroll_left {
    position: absolute;
    width: 23px;
    height: 30px;
    top: 22px;
    left: 0;
    background: transparent url("/js_apps/core.apps.admin_slider/images/scroll_buttons.png") no-repeat -8px 0;
    cursor: pointer;
}

.admin_slider .scroller .btn_scroll_right {
    position: absolute;
    width: 23px;
    height: 30px;
    top: 22px;
    right: 0;
    background: transparent url("/js_apps/core.apps.admin_slider/images/scroll_buttons.png") no-repeat 0 -30px;
    cursor: pointer;
}

.admin_slider .scroller .grad_left {
    position: absolute;
    width: 6px;
    height: 70px;
    top: 0;
    left: 30px;
    background: transparent url("/js_apps/core.apps.admin_slider/images/grad.png") repeat-y -6px 0;
    z-index: 10;
}

.admin_slider .scroller .grad_right {
    position: absolute;
    width: 6px;
    height: 70px;
    top: 0;
    right: 30px;
    background: transparent url("/js_apps/core.apps.admin_slider/images/grad.png") repeat-y 0 0;
    z-index: 10;
}

.admin_slider .scroller .viewport {
    margin: 0 30px;
    overflow: hidden;
    height: 76px;
    position: relative;
}

.admin_slider .scroller .scroller_content {
    position: absolute;
    left: 0;
    top: 0;
    height: 76px;
    width: 10000px;
}

.admin_slider .scroller .thumbs_wrapper {
    float: left;
    overflow: hidden;
    zoom: 1;
}

.admin_slider .scroller .thumb {
    width: 116px;
    height: 72px;
    padding-top: 4px;
    float: left;
    margin: 0 4px 0 0;
    text-align: center;
    float: left;
    background: transparent url("/js_apps/core.apps.admin_slider/images/app_thumb.png") no-repeat 0 0;
    cursor: move;
}

.admin_slider .scroller .thumb div {
    height: 37px;
    overflow: hidden;
}

.admin_slider .scroller .thumb img {
    margin-bottom: 2px;
}

.admin_slider .scroller .thumb span {
    color: #666;
    font-size: 11px;
    display: block;
    margin: 0 12px;
    height: 13px;
}