/* window */


.pages_manager {
}

    .pages_manager .item_form {
        padding: 1px;
    }

    .pages_manager .mi_controls {
        position: absolute;
        right: 0;
        top: 0;
        padding-left: 6px;
        width: 70px;
        height: 16px;
        background: #FFF;
    }
        .pages_manager .mi_controls .mup,
        .pages_manager .mi_controls .mdown,
        .pages_manager .mi_controls .mclone,
        .pages_manager .mi_controls .mdelete {
            float: left;
            cursor: pointer;
            width: 16px;
            height: 16px;
        }

        .pages_manager .mi_controls .mup {
            background: transparent url("/js_apps/core.apps.pages_manager/images/blue.png") 0 0 no-repeat;
        }

        .pages_manager .mi_controls .mdown {
            background: transparent url("/js_apps/core.apps.pages_manager/images/blue.png") -32px 0 no-repeat;
        }

        .pages_manager .mi_controls .mclone  {
            background: url("/js_apps/core.apps.pages_manager/images/copy.png") no-repeat;
        }

        .pages_manager .mi_controls .mdelete  {
            background: url("/js_apps/core.apps.pages_manager/images/cross.png") no-repeat;
        }



.pages_manager .tree_view .caption {
    height: 16px;
    overflow: hidden;
}

.pages_manager .tree_view .caption img {
    float: left;
}

.pages_manager .tree_view a {
    margin-left: 16px;
    float: none;
}