.texts_manager {
    position: relative;
}


    /* panels */

    .texts_manager .p_content {
        overflow: hidden;
        zoom: 1;
    }

        .texts_manager .left_panel {
            float: left;
            margin: 5px;
            width: 390px;
            height: 360px;
            position: relative;
        }


        .texts_manager .previews_box {
            margin: 5px;
            margin-left: 405px;
            width: auto;
            height: 360px;
            overflow: auto;
        }

            .texts_manager .previews_box strong {
                display: block;
                height: 16px;
            }


        .texts_manager .preview_summary,
        .texts_manager .preview_content {
            width: auto;
            overflow: auto;
        }



/* docs list rows */

.texts_manager .texts_list {
    overflow: auto;
    padding: 0 3px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

        .texts_manager docitem {
            display: block;
            overflow: hidden;
            padding: 2px 8px;
            cursor: pointer;
        }

        .texts_manager docitem:hover {
            background: #DDF;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        .texts_manager docitem.selected {
            font-weight: bold;
            background: #DDF;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        .texts_manager docitem.selected:hover {
            background: #CCE;
        }


            .texts_manager docitem .title {
                padding-left: 20px;
                background: transparent url("/vendor/generdyn/core/images/text.gif") no-repeat 0 50%;
                margin: 0 80px 0 0px;
            }


            .texts_manager docitem .date {
                width: 80px;
                float: right;
                text-align: right;
            }