.admin_toolbar_list {
    display: none;
    width: 220px;
    position: fixed;
    background: #e3edfc;
    border: 1px solid #ced1d4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 8px 2px #ced1d4;
    -webkit-box-shadow: 0 0 8px 2px #ced1d4;
    box-shadow: 0 0 8px 2px #ced1d4;
    color: #333;
    font: normal 14px Tahoma;
}

.admin_toolbar_list .admin_toolbar_caption {
    height: 26px;
    background: transparent url("/vendor/generdyn/core/images/drag_bg.png");
    cursor: move;
    position: relative;
    font-size: 11px;
}

.admin_toolbar_list .admin_toolbar_caption .title {
    padding: 5px 12px;
    font-weight: bold;
}

.admin_toolbar_list .admin_toolbar_caption .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 26px;
    cursor: pointer;
    background: transparent url("/vendor/generdyn/core/images/close.png") no-repeat 2px 7px;
}

.admin_toolbar_list .list a.first {
    border-top: 0;
}

.admin_toolbar_list .list a:last-child {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.admin_toolbar_list .list a {
    position: relative;
    display: block;
    padding: 7px 12px;
    border-top: 1px solid #bfcfe9;
    text-decoration: none;
    outline: none;
    color: #333;
    font-weight: normal;
}

.admin_toolbar_list .list a:hover {
    text-decoration: none;
    background: url("/vendor/generdyn/core/images/gradients.png") repeat-x 0 0;
}

.admin_toolbar_list .list a img {
    border: 0;
    vertical-align: middle;
    margin: -2px 5px 0 0;
    width: 16px;
    height: 16px;
}

.admin_toolbar_settings .bottom_buttons {
    border-top: 1px solid #BFCFE9;
    padding: 8px;
    height: 24px;
}

.admin_toolbar_settings .bottom_buttons .wsc_button {
    float: right;
    margin-left: 10px;
    width: 80px;
}

.admin_toolbar_settings .bottom_buttons .btn_float_left {
    float: left;
    margin-left: 0;
    margin-right: 5px;
}

.admin_toolbar_list .bottom_gripper {
    border-top: 1px solid #BFCFE9;
    height: 8px;
    background: transparent url("/vendor/generdyn/core/images/drag_bg.png");
    cursor: n-resize;
}