.admin_toolbar_pages_list .item {
    background: #E3EDFC;
    position: relative;
}

.admin_toolbar_pages_list .item_title {
    display: block;
    height: 18px;
}

.admin_toolbar_pages_list a:hover .item_title {
    padding-right: 48px;
}

.admin_toolbar_pages_list .active {
    font-weight: bold;
}

.admin_toolbar_pages_list .dropdown {
    display: none;
    left: 100%;
    bottom: -1px;
    width: 150px;
    position: absolute;
    background: #e3edfc;
    border: 1px solid #ced1d4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 8px 2px #ced1d4;
    -webkit-box-shadow: 0 0 8px 2px #ced1d4;
    box-shadow: 0 0 8px 2px #ced1d4;
}

.admin_toolbar_pages_list a:hover .dropdown {
    display: block;
}

.admin_toolbar_pages_list .dropdown a:first-child {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.admin_toolbar_pages_list .admin_toolbar_right_position .dropdown {
    top: 10;
    left: -152px;
}

.admin_toolbar_pages_list .btn_add,
.admin_toolbar_pages_list .btn_add:hover {
    position: relative;
    background: transparent url(/vendor/generdyn/core/images/bth_add_bg.png) repeat-x;
}

.admin_toolbar_pages_list .item_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent url("/vendor/generdyn/core/images/drag_bg.png");
}

.admin_toolbar_pages_list .drag_control {
    position: absolute;
    left: 1px;
    top: 9px;
    width: 9px;
    height: 16px;
    background: transparent url(/vendor/generdyn/core/images/page_drag.png) no-repeat;
    cursor: move;
    z-index: 10;
}

.admin_toolbar_pages_list .page_control {
    position: absolute;
    right: 4px;
    top: 9px;
    width: 54px;
    height: 16px;
    z-index: 100;
}

.admin_toolbar_pages_list .page_control div {
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 2px;
}

.admin_toolbar_pages_list .clone {
    background: transparent url(/static/icons/copy.png) no-repeat;
}

.admin_toolbar_pages_list .edit {
    background: transparent url(/static/icons/settings.png) no-repeat;
}

.admin_toolbar_pages_list .delete {
    background: transparent url(/static/icons/cross.png) no-repeat;
}

.admin_toolbar_pages_list .pages_list {
    overflow: auto;
    position: relative;
}

.admin_toolbar_pages_list .drag_el {
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.admin_toolbar_pages_list .drag_zone,
.admin_toolbar_pages_list .drag_zone * {
    cursor: move;
}

.admin_toolbar_pages_list .drag_zone a:hover {
    background: transparent;
}

.admin_toolbar_pages_list .drag_zone a:hover .item_title {
    padding-right: 0;
}