.admin_toolbar_app_settings,
.admin_toolbar_obj_settings {
    width: 420px;
}


.admin_toolbar_app_settings .tabs_bar {
    padding: 10px 0 0 10px;
}



.admin_toolbar_settings .scrollable_content {
    overflow: auto;
    font: bold 12px Tahoma;
}




/* settings */

    .admin_toolbar_settings .section {
        background: transparent url(/static/app_settings/section_bg.png) repeat-y;
        border-bottom: 1px solid #cadef9;
        overflow: hidden;
        zoom: 1;
    }

    .admin_toolbar_settings .section_odd {
        background: #e8f1fc url(/static/app_settings/section_bg_odd.png) no-repeat;
    }

    .admin_toolbar_settings .section_last {
        border: 0;
    }

        .admin_toolbar_settings .section_title {
            float: left;
            padding: 10px 0 10px 10px;
            width: 92px;
            color: #515151;
        }

        .admin_toolbar_settings .section_controls {
            padding: 10px;
            width: auto;
            margin-left: 102px;
            z-index: inherit;
        }

        .admin_toolbar_settings .divider {
            width: auto;
            height: 2px;
            background: transparent url(/static/app_settings/divider.png) repeat-x;
            margin: 2px 0;
        }

.admin_toolbar_settings .dividerLarge {
    width: auto;
    height: 2px;
    background: transparent url(/static/app_settings/divider.png) repeat-x;
    margin: 5px 0;
}










/* app settings table */

.admin_toolbar_settings table {
    background: #FFF;
    border: 0;
    width: 100%;
    color: #000;
    border-collapse: collapse;
    border-spacing: 1px;
    margin: 6px 0;
}

    .admin_toolbar_settings table th {
        text-align: left;
        background: #bdcede;
        padding: 2px;
        border: 1px solid #FFF;
        border-collapse: collapse;
    }

    .admin_toolbar_settings table td {
        border: 1px solid #FFF;
        border-collapse: collapse;
        padding: 2px;
    }

    .admin_toolbar_settings .section table th {
        font-weight: bold;
        text-transform: none;
    }


/* app settings common */

.admin_toolbar_settings .settings a {
    background: transparent;
    color: blue !important;
    border: 0 !important;
    text-decoration: none;
    font-weight: normal;
}

.admin_toolbar_settings .settings a:hover {
    background: transparent;
    color: blue !important;
    border: 0 !important;
    text-decoration: underline;
    font-weight: normal;
}


.admin_toolbar_settings .icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 0;
}



.admin_toolbar_settings .margins {
    overflow: hidden;
    zoom: 1;
}

    .admin_toolbar_settings .margins cell {
        float: left;
        width: 50px;
        margin-right: 5px;
    }

    .admin_toolbar_settings .margins span {
        float: left;
        width: 50px;
        margin-right: 5px;
        font-weight: normal;
    }


.admin_toolbar_settings p {
    margin: 5px 0;
    font-weight: normal;
}